<nav class="navbar navbar-light mb-2" style="background-color:#e3f2fd;">
  <span class="navbar-text"><%= link_to 'セール中の書籍', favorites_top_path %></span>
  <span class="navbar-text"><%= link_to '登録書籍一覧', favorites_index_path %></span>
  <span class="navbar-text"><%= link_to '書籍を探す', favorites_search_path %></span>
</nav>