<nav class="navbar navbar-light mb-2" style="background-color:#e3f2fd;">
  <span class="navbar-text"><%= link_to '所有している書籍', book_shelfs_top_path %></span>
  <span class="navbar-text"><%= link_to '書籍を探す', book_shelfs_search_path %></span>
</nav>